* {
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  height:100%;
  
}

header, footer {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

main{
	flex:1;
}


footer{	
left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.navbar {
  position: sticky;
  top: 0;                 
  left: 0;
  width: 100%;            
  background-color: grey;
  z-index: 1000;          
}

.navbar ul {
  display: flex;         
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
 
}

.navbar ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: orange;
}



.columns {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}


.project-card {
  border: 1px solid #ccc;
  padding: 10px;
}


@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.container {
  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: light-grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
table, th, td, tr{
	border:1px solid;
	border-collapse:collapse;
}
